<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfyCebmOk5wV9ETF9ldcKFuzRPqr2EcVM</string>
	<key>GCM_SENDER_ID</key>
	<string>490947408050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newSnsApp</string>
	<key>PROJECT_ID</key>
	<string>new-sns-app-10350</string>
	<key>STORAGE_BUCKET</key>
	<string>new-sns-app-10350.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490947408050:ios:eb0daff893a3758542d9ab</string>
</dict>
</plist>